@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
  --text: #0f172a;
}

html, body {
  height: 100%;
  background: var(--bg);
  color: var(--text);
}

a {
  @apply text-brand-700 hover:text-brand-900 underline-offset-2;
}
